*{padding:0;margin:0;}
/* 
body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
} */

.float1{
	position:fixed;
	width: 500px;
    height: 295px;
	bottom:10px;
	right:10px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 9999999999999999;
}

.my-float{
	margin-top:22px;
}